<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogging Site</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #4c2c60">
      <div class="container">
        <a class="navbar-brand" href="#" style="color: #ffffff">Diary Blog</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/" style="color: #ffffff">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog" style="color: #ffffff">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback" style="color: #ffffff"
                >Feedback</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
